@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:wght@700&family=Jost&family=Roboto:wght@300;400;500;700&family=Source+Code+Pro:wght@500&display=swap');

*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;

}
:root {
    --bg-color: #e9edc9;
    --second-bg-color: #ccd5ae;
    --text-color: #000000;
    --second-color: #0d1b2a;
    --main-color: #2d661b;
    --big-font: 5rem;
    --h2-font: 3rem;
    --p-font: 1.1rem;
}

body{
    background-color:var(--bg-color) ;
    color: var(--text-color);
}
section  {
    padding: 160px 15% 120px;
}

.main-text {
    text-align: center;
}

.main-text p {
    color: var(--second-color);
    font-size: 15px;
    margin-bottom: 15px;
    margin-top: 15px;
    line-height: 1;
}

.main-text h2 {
    font-size: var(--h2-font);
    line-height: 1;
}