/* skill section  */


.skill-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, auto));
    align-items: center;
    gap: 2.5rem;
    margin-top: 5rem;
}

.box {
    background-color: var(--second-bg-color);
    padding: 35px 45px;
    border-radius: 8px;
    transition: all .45s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.s-icons i {
    font-size: 32px;
    margin-bottom: 20px;
}

.box h3 {
    font-size: 24px;
    font-weight: 600;
    color: var(--text-color);
    margin-bottom: 15px;

}

.box p {
    color: var(--second-color);
    font-size: 1rem;
    line-height: 1.8;
    margin-bottom: 25px;
}

.box:hover {
    transform: translateY(-8px);
    cursor: pointer;
}

.percent {
    position: relative;
    width: 150px;
    height: 150px;
}

.percent svg {
    position: relative;
    width: 150px;
    height: 150px;
    transform: rotate(270deg);
}

.percent svg circle {
    width: 100%;
    height: 100%;
    fill: transparent;
    stroke-width: 5;
    stroke: gainsboro;
    transform: translate(5px, 5px);
}

.percent svg circle:nth-child(2) {
    stroke: var(--main-color);
    stroke-dasharray: 440;

    stroke-dashoffset: calc(440 - (440 * var(--num)) /100);
    animation: fadeIn 1s linear forwards;
    animation-delay: 2.5s;
    opacity: 0;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }

}

.dot {
    position: absolute;
    inset: 5px;
    z-index: 10;

    animation: animateDot 2s linear forwards;
}

@keyframes animateDot {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(calc(3.6deg*var(--num)));
    }

}

.dot::before {
    content: '';
    position: absolute;
    top: -5px;
    left: 50%;
    transform: translateX(-50%);
    width: 10px;
    height: 10px;
    background-color: var(--main-color);
    border-radius: 50%;
    box-shadow: 0 0 10px var(--clr), 0 0 30px var(--clr);
}

.number {
    position: absolute;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: fadeIn 1s linear forwards;
    animation-delay: 2.5s;
    opacity: 0;
}